[Unit]
Description=Incus In Fedora Container

[Container]
Image=ghcr.io/vietchinh/incus-in-podman:latest
AutoUpdate=registry

Volume=/var/lib/incus:/var/lib/incus:z
Volume=/dev:/dev
Volume=/lib/modules:/lib/modules:ro
Network=host
PodmanArgs=--privileged --cgroupns=host --cgroups=no-conmon
AddDevice=/dev/loop-control:/dev/loop-control:rwm
Unmask=/sys/fs/cgroup

[Service]
Restart=on-failure
TimeoutStartSec=900
TimeoutStopSec=240s
ExecStartPre=+/bin/mkdir -p /var/lib/incus

[Install]
WantedBy=multi-user.target default.target
